.App__nav-link {
    margin: auto 20px;
    color: rgba(255, 255, 255, 0.7);
}

.App__nav-link:hover,
.App__nav-link.active {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.transform-x-100vw {
  transform: translateX(100vw);
}

.App__profile_photo {
  max-height: 200px;
  width: 150px
}

.social-link {
  color: rgb(224, 184, 131)
}

.social-link:hover {
  color: rgb(224, 184, 131, 0.7)
}